@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.box {
  .box-header {
    margin-bottom: rem(50);
    .box-title {
      font-family: $font-nanum-square;
      font-weight: 800;
      font-size: rem(28);
      line-height: 1;
      letter-spacing: -0.08em;
    }
  }

  &.box-info,
  &.box-form {
    .box-body {
      & > * {
        margin-bottom: rem(10);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.box-complete {
    & > * {
      margin-bottom: rem(60);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .box-body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: rem(300);
      p {
        position: relative;
        padding-top: rem(97);
        font-family: $font-nanum-square;
        font-weight: 700;
        font-size: rem(32);
        line-height: lh(40);
        text-align: center;
        &::before {
          content: "";
          width: rem(55);
          height: rem(69);
          background: url(../images/complete-board.png) no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after {
          content: "";
          width: rem(36);
          height: rem(36);
          background: url(../images/complete-check.png) no-repeat center/cover;
          position: absolute;
          top: rem(-16);
          left: calc(50% + rem(9));
        }
      }
    }
  }

  &.box-result {
    .box-body {
      margin-bottom: rem(40);
    }
  }

  &.box-policy {
    .policy {
      display: block;
      padding: rem(20);
      background-color: #fbfbfb;
      &.full {
        padding: 0;
        background-color: transparent;
        .summary-box {
          background-color: #fbfbfb;
        }
        [data-scroll="scroll"] {
          table {
            min-width: rem(720) !important;
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .summary-box {
        padding: rem(20);
        border-radius: rem(10);
        background-color: $color-white;
        p {
          font-size: rem(16);
        }
      }
      a {
        font-size: rem(14);
        color: $color-black;
        &:hover {
          color: $color-primary;
        }
      }
      p {
        font-family: $font-nanum-gothic;
        font-size: rem(14);
        color: $color-black;
        b {
          font-size: rem(16);
        }
      }
      ul {
        padding-inline-start: rem(10);
        list-style: none;
        li {
          font-size: rem(14);
          color: $color-black;
        }
      }
      table {
        width: 100%;
        min-width: auto !important;
        margin: rem(10) 0;
        th,
        td {
          padding: rem(10);
          border: 1px solid #bbb;
          font-size: rem(14);
          text-align: center;
          color: $color-black;
        }
        th {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
    .box-body {
      .form-row {
        display: block;
        .input-wrapper {
          width: 100%;
          .box-title {
            margin-bottom: rem(20);
            font-family: $font-nanum-square;
            font-weight: 700;
            font-size: rem(18);
            line-height: 1;
            letter-spacing: -0.06rem;
          }
          & > div {
            &.policy {
              height: rem(300);
              overflow: scroll;
              scrollbar-width: none;
              -ms-overflow-style: none;
              &::-webkit-scrollbar {
                display: none;
              }
              .mCS-dark.mCSB_scrollTools {
                .mCSB_draggerRail {
                  background-color: #fbfbfb !important;
                }
              }
            }
            &.label-wrap {
              height: auto;
              justify-content: flex-end;
              margin: rem(20) 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .box {
    .box-header {
      margin-bottom: rem(35);
      .box-title {
        font-size: rem(20);
      }
    }

    &.box-info,
    &.box-form {
      .box-body {
        & > * {
          margin-bottom: rem(15);
        }
      }
    }

    &.box-complete {
      .box-body {
        height: rem(250);
        p {
          padding-top: rem(87);
          font-size: rem(20);
          line-height: lh(28);
          text-align: center;
          &::before {
            width: rem(45);
            height: rem(57);
          }
          &::after {
            width: rem(26);
            height: rem(26);
            position: absolute;
            top: rem(-12);
            left: calc(50% + rem(9));
          }
        }
      }
    }

    &.box-policy {
      .policy {
        padding: rem(12);
        .summary-box {
          p {
            font-size: rem(14);
          }
        }
        h3 {
          font-size: rem(16);
        }
        a {
          font-size: rem(13);
        }
        p {
          font-size: rem(13);
          b {
            font-size: rem(14);
          }
        }
        ul {
          list-style: none;
          li {
            font-size: rem(13);
          }
        }
        table {
          th,
          td {
            font-size: rem(13);
          }
        }
      }
      .box-body {
        .form-row {
          .input-wrapper {
            .box-title {
              font-size: rem(16);
            }
            & > div {
              &.label-wrap {
                height: auto;
                justify-content: flex-end;
                margin: rem(10) 0;
              }
            }
          }
        }
      }
    }
  }
}
