@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.btn {
  position: relative;
  &.btn-user,
  &.btn-login,
  &.btn-logout,
  &.btn-menu {
    height: rem(56);
    display: flex;
    align-items: center;
    padding: 0 rem(15);
  }
  &.btn-user,
  &.btn-login,
  &.btn-logout {
    position: relative;
    &:hover {
      .btn__text {
        visibility: visible;
        opacity: 1;
      }
    }
    .btn__text {
      height: rem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(6);
      font-weight: 300;
      font-size: rem(14);
      line-height: 1;
      color: $color-white;
      position: absolute;
      top: calc(100% + #{rem(1)});
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s ease;
      &::before {
        content: "";
        position: absolute;
        top: rem(-8);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: rem(6) solid transparent;
        border-right: rem(6) solid transparent;
        border-bottom: rem(8) solid $color-primary;
      }
    }
  }
  &.btn-user {
    .btn__icon {
      width: rem(25);
      height: rem(28);
      fill: $color-primary;
    }
    .btn__text {
      width: rem(80);
      background-color: $color-primary;

      &::before {
        border-bottom-color: $color-primary;
      }
    }
  }
  &.btn-login {
    .btn__icon {
      width: rem(28);
      height: rem(28);
      fill: $color-primary;
    }
    .btn__text {
      width: rem(70);
      background-color: $color-primary;

      &::before {
        border-bottom-color: $color-primary;
      }
    }
  }
  &.btn-logout {
    .btn__icon {
      width: rem(28);
      height: rem(28);
      fill: $color-secondary;
    }
    .btn__text {
      width: rem(70);
      background-color: $color-secondary;

      &::before {
        border-bottom-color: $color-secondary;
      }
    }
  }
  &.btn-menu {
    .btn__icon {
      width: rem(36);
      height: rem(18);
      display: block;
      background-image: url(../images/hamburger.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: background-image 0.2s ease;
    }
    &:hover {
      .btn__icon {
        background-image: url(../images/hamburger-orange.png);
      }
    }
  }
  &.btn-top {
    width: rem(80);
    height: rem(80);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-primary;
    transition: background-color 0.2s ease;
    .btn__icon {
      width: rem(18);
      height: rem(22);
      fill: $color-white;
    }
    &:hover {
      background-color: $color-secondary;
    }
  }
  &.btn-close {
    width: rem(50);
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    .btn__icon {
      width: rem(30);
      height: rem(30);
      fill: $color-white;
      transition: fill 0.2s ease;
    }
    &:hover {
      .btn__icon {
        fill: $color-secondary;
      }
    }
  }
  &.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.2s ease;
    &:hover {
      background-color: $color-primary-hover;
    }
    &.btn-outline {
      background-color: transparent;
      border: 1px solid $color-primary;
      color: $color-primary;
      transition: all 0.2s ease;
      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
  &.btn-default {
    background-color: $color-gray-100;
    color: $color-black;
    transition: all 0.2s ease;
    &:hover {
      background-color: $color-gray-200;
    }
  }
  &.btn-warning {
    background-color: $color-warning;
    color: $color-white;
    transition: all 0.2s ease;
    &:hover {
      background-color: color.scale($color-warning, $lightness: -10%);
    }
  }
  &.btn-danger {
    background-color: $color-danger;
    color: $color-white;
    transition: all 0.2s ease;
    &:hover {
      background-color: color.scale($color-danger, $lightness: -10%);
    }
  }
  &.btn-submit {
    display: block;
    padding: rem(12) rem(15);
    border-radius: rem(5);
    background-color: $color-tab-secondary;
    font-family: $font-nanum-square;
    font-size: rem(16);
    line-height: 1;
    color: $color-black;
    text-align: center;
    &:hover {
      background-color: $color-tab-secondary-hover;
    }
  }
  &.btn-apply {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0 rem(15);
    padding: rem(18);
    border: rem(2) solid $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      .btn__icon {
        background-image: url(../images/window-arrow-white.png);
      }
      .btn__text {
        color: $color-white;
      }
    }
    .btn__icon {
      width: rem(25);
      height: rem(25);
      background-image: url(../images/window-arrow-primary.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: background-image 0.2s ease;
    }
    .btn__text {
      font-family: $font-nanum-square;
      font-size: rem(20);
      line-height: 1;
      letter-spacing: -0.08em;
      color: $color-primary;
      transition: all 0.2s ease;
    }
  }
}

.btn-round {
  border-radius: rem(999);
  &.btn-lg {
    min-width: rem(120);
    padding: rem(23) rem(26);
    font-family: $font-nanum-gothic;
    font-weight: 700;
    font-size: rem(18);
    line-height: 1;
    text-align: center;
  }
}

.btn-square {
  display: inline-block;
  font-family: $font-nanum-square;
  text-align: center;
  &.btn-primary {
    background-color: $color-text-primary;
    color: $color-white;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      background-color: color.scale($color-text-primary, $lightness: 15%);
      color: $color-white;
    }
  }
  &.btn-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 rem(15);
    .btn-square__icon {
      &.btn-square__icon--link {
        width: rem(11);
        height: rem(11);
        background-image: url(../images/subpage/link-icon.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  &.btn-lg {
    min-width: rem(170);
    padding: rem(13) rem(17) rem(13) rem(21);
    border-radius: rem(12);
    font-size: rem(15);
    text-align: initial;
  }
  &.btn-md {
    min-width: rem(120);
    padding: rem(9) rem(18);
    border-radius: rem(12);
    font-size: rem(16);
    line-height: lh(26);
  }
  &.btn-xs {
    min-width: rem(70);
    padding: rem(10);
    border-radius: rem(8);
    font-family: $font-nanum-gothic;
    font-size: rem(14);
    line-height: 1;
    text-align: center;
  }
  &.btn-outline {
    background-color: transparent;
    transition: all 0.2s ease;
    &.btn-default {
      border: 1px solid $color-gray-200;
      color: $color-black;
      &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

/* media quries */
@media (max-width: 780px) {
  .btn {
    &.btn-user,
    &.btn-login,
    &.btn-logout,
    &.btn-menu {
      height: rem(40);
      padding: 0 rem(8);
    }
    &.btn-user,
    &.btn-login,
    &.btn-logout {
      .btn__text {
        display: none !important;
      }
    }
    &.btn-user {
      .btn__icon {
        width: rem(18);
        height: rem(28);
      }
      .btn__text {
        width: rem(80);
      }
    }
    &.btn-login {
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
      .btn__text {
        width: rem(70);
      }
    }
    &.btn-logout {
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
      .btn__text {
        width: rem(70);
      }
    }
    &.btn-menu {
      .btn__icon {
        width: rem(26);
        height: rem(13);
      }
    }
    &.btn-close {
      width: rem(45);
      height: rem(45);
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
    }
    &.btn-submit {
      padding: rem(13) rem(12);
      font-size: rem(14);
    }
    &.btn-apply {
      gap: 0 rem(10);
      padding: rem(14);
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
      .btn__text {
        font-size: rem(16);
      }
    }
  }

  .btn-square {
    &.btn-icon {
      gap: 0 rem(10);
      .btn-square__icon {
        &.btn-square__icon--link {
          width: rem(9);
          height: rem(9);
        }
      }
    }
    &.btn-lg {
      min-width: rem(140);
      padding: rem(11) rem(14);
      border-radius: rem(8);
      font-size: rem(13);
    }
    &.btn-md {
      min-width: rem(100);
      padding: rem(7) rem(15);
      font-size: rem(14);
      line-height: lh(24);
    }
    &.btn-xs {
      min-width: rem(60);
      padding: rem(9) rem(8);
      border-radius: rem(6);
      font-size: rem(12);
    }
  }

  .btn-round {
    &.btn-lg {
      min-width: rem(100);
      padding: rem(18) rem(20);
      font-size: rem(16);
    }
  }
}
