@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.btn {
  &.btn-user,
  &.btn-login,
  &.btn-logout,
  &.btn-menu {
    height: rem(56);
    display: flex;
    align-items: center;
    padding: 0 rem(15);
  }
  &.btn-user,
  &.btn-login,
  &.btn-logout {
    position: relative;
    &:hover {
      .btn__text {
        visibility: visible;
        opacity: 1;
      }
    }
    .btn__text {
      height: rem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(6);
      font-weight: 300;
      font-size: rem(14);
      line-height: 1;
      color: $color-white;
      position: absolute;
      top: calc(100% + #{rem(1)});
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s ease;
      &::before {
        content: "";
        position: absolute;
        top: rem(-8);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: rem(6) solid transparent;
        border-right: rem(6) solid transparent;
        border-bottom: rem(8) solid $color-primary;
      }
    }
  }
  &.btn-user {
    .btn__icon {
      width: rem(25);
      height: rem(28);
      fill: $color-primary;
    }
    .btn__text {
      width: rem(80);
      background-color: $color-primary;

      &::before {
        border-bottom-color: $color-primary;
      }
    }
  }
  &.btn-login {
    .btn__icon {
      width: rem(28);
      height: rem(28);
      fill: $color-primary;
    }
    .btn__text {
      width: rem(70);
      background-color: $color-primary;

      &::before {
        border-bottom-color: $color-primary;
      }
    }
  }
  &.btn-logout {
    .btn__icon {
      width: rem(28);
      height: rem(28);
      fill: $color-secondary;
    }
    .btn__text {
      width: rem(70);
      background-color: $color-secondary;

      &::before {
        border-bottom-color: $color-secondary;
      }
    }
  }
  &.btn-menu {
    .btn__icon {
      width: rem(36);
      height: rem(18);
      display: block;
      background-image: url(../images/hamburger.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: background-image 0.2s ease;
    }
    &:hover {
      .btn__icon {
        background-image: url(../images/hamburger-orange.png);
      }
    }
  }
  &.btn-top {
    width: rem(80);
    height: rem(80);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-primary;
    transition: background-color 0.2s ease;
    .btn__icon {
      width: rem(18);
      height: rem(22);
      fill: $color-white;
    }
    &:hover {
      background-color: $color-secondary;
    }
  }
  &.btn-close {
    width: rem(50);
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    .btn__icon {
      width: rem(30);
      height: rem(30);
      fill: $color-white;
      transition: fill 0.2s ease;
    }
    &:hover {
      .btn__icon {
        fill: $color-secondary;
      }
    }
  }
}

.btn-square {
  display: inline-block;
  font-family: $font-nanum-square;
  text-align: center;
  &.btn-md {
    min-width: rem(120);
    padding: rem(9) rem(18);
    font-size: rem(16);
    line-height: lh(26);
  }
  &.btn-outline {
    background-color: transparent;
    transition: all 0.2s ease;
    &.btn-default {
      border: 1px solid $color-gray-200;
      color: $color-black;
      &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

@media (max-width: 768px) {
  .btn {
    &.btn-user,
    &.btn-login,
    &.btn-logout,
    &.btn-menu {
      height: rem(40);
      padding: 0 rem(8);
    }
    &.btn-user,
    &.btn-login,
    &.btn-logout {
      .btn__text {
        display: none !important;
      }
    }
    &.btn-user {
      .btn__icon {
        width: rem(18);
        height: rem(28);
      }
      .btn__text {
        width: rem(80);
      }
    }
    &.btn-login {
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
      .btn__text {
        width: rem(70);
      }
    }
    &.btn-logout {
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
      .btn__text {
        width: rem(70);
      }
    }
    &.btn-menu {
      .btn__icon {
        width: rem(26);
        height: rem(13);
      }
    }
    &.btn-close {
      width: rem(45);
      height: rem(45);
      .btn__icon {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  .btn-square {
    &.btn-md {
      min-width: rem(100);
      padding: rem(7) rem(15);
      font-size: rem(14);
      line-height: lh(24);
    }
  }
}
