@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.conts.conts--education {
  .line-list {
    &__btn-wrap {
      margin-top: rem(24);
    }
  }
}

.conts.conts--electric {
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(6);
  }
}

/* media quries */
@media (max-width: 780px) {
  .conts.conts--education {
    .line-list {
      &__btn-wrap {
        margin-top: rem(19);
      }
    }
  }
}
