@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.conts.conts--tlo {
  .img-wrap {
    &.img-wrap--full {
      margin-top: rem(34);
    }
    &.img-wrap--flex {
      margin-top: rem(74);
      margin-bottom: rem(50);
    }
  }
}

.conts.conts--equip {
  .num-list {
    &.num-list--type-1 {
      .num-list__text {
        margin-bottom: rem(35);
      }
    }
  }
}

/* media quries */
@media (max-width: 780px) {
  .conts.conts--tlo {
    .img-wrap {
      &.img-wrap--full {
        margin-top: rem(24);
      }
      &.img-wrap--flex {
        margin-top: rem(54);
        margin-bottom: rem(40);
      }
    }
  }

  .conts.conts--equip {
    .num-list {
      &.num-list--type-1 {
        .num-list__text {
          margin-bottom: rem(25);
        }
      }
    }
  }
}
